name = "Globtim"
uuid = "00da9514-6261-47e9-8848-33640cb1e528"
license = "GPL-3.0"
version = "2.0.1"
authors = ["Georgy Scholten <scholtengeorgy@gmail.com>"]

[deps]
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
ConstructionBase = "187b0558-2788-49d3-abe0-74a17ed4e7c9"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DrWatson = "634d3b9d-ee7a-5ddf-bec9-22491ea816e1"
DynamicPolynomials = "7c1d4256-1411-5781-91ec-d7bc3513ac07"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
HomotopyContinuation = "f213a82b-91d6-5c5d-acf7-10f1c761b327"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
JSON3 = "0f8b85d8-7281-11e9-16c2-39a750bddbf1"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
MultivariatePolynomials = "102ac46a-7ee4-5c85-9060-abc95bfdeaa3"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
PolyChaos = "8d666b04-775d-5f6e-b778-5ac7c70f65a3"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[weakdeps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
Clustering = "aaaa29a8-35af-508c-8bc3-b662a17a0fe5"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"

[extensions]
GlobtimAnalysisExt = ["Clustering", "Distributions"]
GlobtimCUDAExt = ["CUDA"]

[compat]
CSV = "0.10.15"
CUDA = "5"
Clustering = "0.15"
ConstructionBase = "1"
DataFrames = "1.6"
Dates = "1"
Distributions = "0.25"
DrWatson = "2.19.1"
DynamicPolynomials = "0.6"
ForwardDiff = "=0.10.39, 1"
HomotopyContinuation = "2.15"
JLD2 = "0.6.2"
JSON = "0.21, 1"
JSON3 = "1.14.3"
LinearAlgebra = "1"
LinearSolve = "3.25"
Logging = "1"
MultivariatePolynomials = "0.5"
Optim = "1.13, 2"
PolyChaos = "0.2.11, 1"
Printf = "1"
Random = "1"
StaticArrays = "1.9"
Statistics = "1"
StatsBase = "0.34.7"
TOML = "1"
Test = "1"
TimerOutputs = "0.5"
julia = "1.10, 1.11, 1.12"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
