name = "Globtim"
uuid = "00da9514-6261-47e9-8848-33640cb1e528"
license = "GPL-3.0"
authors = ["Georgy Scholten <scholtengeorgy@gmail.com>"]
version = "1.1.2"

[deps]
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DynamicPolynomials = "7c1d4256-1411-5781-91ec-d7bc3513ac07"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
HomotopyContinuation = "f213a82b-91d6-5c5d-acf7-10f1c761b327"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
JSON3 = "0f8b85d8-7281-11e9-16c2-39a750bddbf1"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
MultivariatePolynomials = "102ac46a-7ee4-5c85-9060-abc95bfdeaa3"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
PolyChaos = "8d666b04-775d-5f6e-b778-5ac7c70f65a3"
ProgressLogging = "33c8b6b6-d38a-422a-b730-caa89a2f386c"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
TimerOutputs = "a759f4b9-e2f1-59dc-863e-4aeb61b1ea8f"

[weakdeps]
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
CairoMakie = "13f3f980-e62b-5c42-98c6-ff1f3baf88f0"
Clustering = "aaaa29a8-35af-508c-8bc3-b662a17a0fe5"
Colors = "5ae59095-9a9b-59fe-a467-6f913c188581"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
JuliaFormatter = "98e50ef6-434e-11e9-1051-2b60c6c9e899"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
SHA = "ea8e919c-243c-51af-8825-aaa63cd721ce"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
UUIDs = "cf7118a7-6976-5b1a-9a39-7adc72f591a4"

[extensions]
GlobtimAnalysisExt = ["Clustering", "Distributions"]
GlobtimCairoMakieExt = "CairoMakie"
GlobtimDataExt = ["CSV"]
GlobtimDevExt = ["JuliaFormatter"]
GlobtimGLMakieExt = "GLMakie"

[compat]
CSV = "0.10"
CairoMakie = "0.11"
Clustering = "0.15"
Colors = "0.12"
DataFrames = "1.6"
DataStructures = "0.18"
Dates = "1"
Distributions = "0.25"
DynamicPolynomials = "0.6"
ForwardDiff = "0.10"
GLMakie = "0.9"
HomotopyContinuation = "2.15"
IterTools = "1.10"
JSON = "0.21.4"
JSON3 = "1.14.3"
JuliaFormatter = "1.0"
LinearAlgebra = "1"
LinearSolve = "3.25"
Makie = "0.20"
MultivariatePolynomials = "0.5"
Optim = "1.13"
Parameters = "0.12"
PolyChaos = "0.2.11"
ProgressLogging = "0.1"
Random = "1"
SHA = "0.7.0"
SpecialFunctions = "2.4"
StaticArrays = "1.9"
Statistics = "1"
TOML = "1"
TimerOutputs = "0.5"
UUIDs = "1.10.5"
julia = "1.10"
